<div class="d-flex ">
    <div class="block-292 d-flex">
        <div class="align-self-center padding-left-23"><img src="../../assets/img/vip-avia/take-of.svg" alt="Прилет"></div>
        <div class="align-self-center padding-left-12">Направление:</div>
        <span class="color-status align-self-center padding-left-10">{{incomingData.direction}}</span></div>
    <div class="block-292 d-flex">
        <div class="align-self-center padding-left-23">Номер рейса:</div>
        <div class="align-self-center padding-left-10"><span>{{incomingData.flightNumber}}</span></div></div>
    <div class="block-584 d-flex">
        <div class="align-self-center padding-left-23"> Пассажиры</div>
        <div class="align-self-center padding-left-10"><span>{{passengers.flightNumber}}</span></div></div>
</div>

